# Auto detect text files and perform LF normalization
* text=auto

__pycache__
import.txt
tmp
*.pyc

data/TradeDangerous.db
data/TradeDangerous.old
data/TradeDangerous.db-journal
data/TradeDangerous.prices
data/*.stamp
data/*.ini
data/extra-stars.txt
data/*.txt
data/edapi.cookies
data/StationItem.csv

*.prices
*.suo
*.pyperf
misc/*.csv
*.orig
*.prev
*.last
Flight Log.csv

wip/
pycallgraph.png
/config.sh
venv/
.venv/

Diamondback*.txt
Adder*.txt
Cobra*.txt
result.txt
